.landingPageWrapper {
  background-color: red;
  background-image: "../../assets/images/tommhoie.jpeg";
  height: 50rem;
  //   background-image: "../../assets/icons/images/tommhoi.jpeg";
  //   height: 100%;
  //   width: 10rem;
  //   &__backgroundImage {
  //     height: 100vw;
}
// }
// .image {
//   background-image: "../../assets/icons/images/tommhoi.jpeg";

//   //   width: 10rem;
//   backgroundposition: "center";
//   backgroundsize: "cover";
//   backgroundrepeat: "no-repeat";
// }
