@use "../../styles/global" as *;
.landingPageWrapper {
  background-color: $primary-color;

  &__titleBox {
    display: flex;
  }
  &__title {
    font-size: 4rem;
    font-family: url("../../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
  }
  &__leadInfoContainer {
    padding-left: 1rem;
    background: url("https://david-levett-capstone-46a317a30e72.herokuapp.com//images/brunswick-mount.jpeg");

    // {process.env.REACT_APP_API_URL}/images/brunswick-mount.jpeg
    // `${process.env.REACT_APP_API_URL}/hikes`
    // background: url("https://david-levett-capstone-46a317a30e72.herokuapp.com/brunswick-mount.jpeg");
    // https://david-levett-capstone-46a317a30e72.herokuapp.com/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 2% 80%;
    border-radius: 5rem 5rem 0 0;
    height: 80vh;
  }
  &__leadInfo {
    font-size: 2rem;
    padding-top: 8rem;
    font-weight: 600;
    @include tablet {
      margin: auto 30%;
    }
  }
  &__buttonContainer {
    color: $primary-color-blk;
    height: 4.5rem;
    width: 8rem;
    border-radius: 3rem;
    display: flex;
    background-color: $primary-color-wht;
    border: 0.2rem solid $secondary-color;
    box-shadow: 0.3rem 0.3rem $primary-color-blk, 0.3rem 0.3rem;
    justify-content: space-evenly;
    align-items: baseline;
    &:hover {
      background-color: $secondary-color;
    }
    @include tablet {
      margin: 4% 30%;
      width: 15rem;
    }
  }
  &__button {
    color: $primary-color-blk;
    display: flex;
  }
  &__buttonIcon {
    height: 2rem;
  }
}
a {
  text-decoration: none;
}
