// $primary-color: #a3b18a;
$primary-color: #a3b18a;
$primary-color-blk: black;
$primary-color-wht: white;

$secondary-color: #faedcd;
$special: #333;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@font-face {
  font-family: "Montserrat";
  src: (url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf"));
  font-weight: 400;
}

// @font-face {
//   font-family: "Avenir";
//   src: (url("../assets/Font/AvenirNextLTPro-Bold.otf"));
//   font-weight: 700;
