@use "../../styles/global" as *;

.grouseGrindForm {
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    margin-bottom: 0;
    // text-align: center;
    padding-left: 1rem;
    font-size: 1rem;
    @include tablet {
      font-size: 2rem;
      margin-bottom: 1rem;
      justify-content: center;
    }
  }
  &__elevationIcon {
    height: 1.5rem;
    @include tablet {
      height: 2.5rem;
    }
  }
  &__introText {
    font-size: 0.8rem;
    padding: 0 1rem 0 1rem;
    margin-top: 0;
    @include tablet {
      font-size: 1.2rem;
      text-align: center;
    }
  }
  &__inputBox {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  &__firstName,
  &__lastName {
    width: 35%;
    padding: 0.4rem;
    height: 1.5rem;
    border-radius: 3rem;
    font-size: 0.8rem;
  }
  &__easyButton,
  &__mediumButton,
  &__hardButton {
    height: 3rem;
    width: 10rem;
    margin-top: 1rem;
    color: $primary-color-blk;
    border: 1px solid $primary-color-blk;
    cursor: pointer;
    &:hover {
      background-color: $secondary-color;
      border: 1px solid $primary-color-blk;
    }
    background-color: $primary-color;
    box-shadow: 0.3rem 0.3rem $primary-color-blk, 0.3rem 0.3rem;
    border-radius: 3rem;
    @include tablet {
      // width: 20rem;
      width: 11rem;
      // margin-left: 1rem;
    }
  }
  &__buttonBox {
    display: flex;
    flex-direction: column;
    margin: auto 50%;
    align-items: center;
    @include tablet {
      flex-direction: row;
      width: 45rem;
      margin: 1rem auto;
      justify-content: space-evenly;
    }
  }
}
.hikesByDifficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  margin-top: 0.5rem;

  &__hikeName {
    font-size: 0.8rem;
    @include tablet {
      font-size: 1.3rem;
    }
  }
  &__hikeImage {
    height: 10rem;
    border-radius: 6%;
    aspect-ratio: 3/2;
    @include tablet {
      height: 25rem;
    }
  }
  &__description {
    font-size: 0.8rem;
    @include tablet {
      font-size: 1rem;
    }
  }
}
