@use "../../styles/global" as *;
.grouseGrindForm {
  display: flex;
  flex-direction: column;

  margin-top: 1rem;
  &__firstName,
  &__lastName {
    width: 50%;
    margin: auto 25%;
  }
  &__easyButton,
  &__mediumButton,
  &__hardButton {
    height: 10rem;
    width: 5rem;
    margin-top: 3rem;
    // width: 10rem;
    // margin: auto 20%;
    background-color: $primary-color;
    box-shadow: 0.3rem 0.3rem black, 0.3rem 0.3rem;
    // border-radius: 5%;
    // padding-top: 1rem;
  }
}
