.headerTitle {
  letter-spacing: 0.05em;
  display: inline-block;
  display: flex;
  font-size: 1.4rem;
  // padding-top: 0.3rem;
  font-style: italic;
  justify-content: center;
  margin-bottom: 0;
}
