@use "../../styles/global" as *;

.footerHeaderContainer {
  background-color: $primary-color;
}
.footerHeader {
  &__textBox {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $primary-color;
    color: $primary-color-wht;
    text-align: center;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    font-weight: 600;
    font-size: 0.7rem;
  }
}
