@use "../../styles/global" as *;

.hikesContainer {
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;
  background-color: $primary-color-wht;
  height: 62vh;
  width: 100%;
  @include tablet {
    height: 75vh;
  }

  &__pageHeader {
    font-size: 1rem;
    padding: 1rem;
    background-color: $primary-color-wht;
    @include tablet {
      text-align: center;
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 2rem;
    }
  }
  &__title {
    font-style: italic;
    text-align: center;
  }
  &__detailsContainer {
    list-style-type: none;
    padding: 1rem 1rem 0 1rem;

    // margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__hikeInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__hikeInfoTitle {
    font-size: 1.2rem;
    font-weight: 600;
    @include tablet {
      font-size: 1.5rem;
      padding-top: 1rem;
    }
  }
  &__buttonContainer {
    display: flex;
    justify-content: space-around;
  }
  &__button {
    all: unset;
    background-color: $primary-color;
    box-shadow: 0.3rem 0.3rem $primary-color-blk, 0.3rem 0.3rem;
    height: 4rem;
    color: $primary-color-blk;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 3rem;
    width: 7rem;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: $secondary-color;
      border: 1px solid $primary-color-blk;
    }
    &:active {
      box-shadow: 0.1rem 0.1rem $primary-color-blk, 0.1rem 0.1rem;
      transform: translate(0.24rem);
    }
    @include tablet {
      width: 18rem;
      font-size: 1.3rem;
    }
  }
}
.hikesMedium {
  background-color: $primary-color-wht;
}
.hikesImage {
  height: 11rem;
  border-radius: 6%;
  aspect-ratio: 3/2;
  margin: auto 1rem;
  @include tablet {
    height: 24rem;
  }
}
