@use "../../styles/global" as *;
.body {
  background-color: $primary-color;
}
.hikesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $primary-color;
}
.hikesMedium {
  background-color: $primary-color-wht;
}
.hikesImage {
  height: 13rem;
  border-radius: 3rem;
}
