* {
  // font-family: Georgia, "Times New Roman", Times, serif;
}
.appWrapper {
  margin: auto 1rem;
  // background-color: #dad7cd;
}
.navVectorContainer {
  display: flex;
  flex-direction: column;
}
