* {
  // font-family: Georgia, "Times New Roman", Times, serif;
}
.appWrapper {
  margin: auto 1rem;
  // background-color: #dad7cd;
}
.navVectorContainer {
  display: flex;
  flex-direction: column;
}

.hikeSelector {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  &__hike {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    margin: 0;
    // padding: 1rem;
  }
  &__image {
    // background-color: #dad7cd;
    // border-radius: 6%;
    // width: 17rem;
    // height: 10rem;

    align-self: center;
    // display: flex;
    // justify-content: center;
  }
  &__button {
    all: unset;
    background-color: #a3b18a;
    // box-shadow: 3px 3px black, -1em 0 0.4rem;
    box-shadow: 0.3rem 0.3rem black, 0.3rem 0.3rem;
    // box-shadow: rgba(46, 240, 82, 0.4) 5px 5px, rgba(73, 74, 72, 0.3) 10px 10px,
    //   rgba(34, 42, 12, 0.2) 15px 15px, rgba(46, 240, 69, 0.1) 20px 20px,
    //   rgba(156, 197, 93, 0.05) 25px 25px;
    height: 3rem;
    // border-radius: 6%;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 1rem;
    border-radius: 3%;
  }
}
img {
  width: 15rem;
  border-radius: 6%;
}
