@use "../../styles/global" as *;
.headerWrapper {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  // align-items: baseline;
  padding-top: 0.5rem;
}
.headerContainer {
  display: flex;

  &__logoContainer {
    align-items: center;
  }
  &__logoImage {
    height: 2.5rem;
    width: 4rem;
    padding-top: 0.3rem;
  }
  letter-spacing: 0.05em;
  &__logoTitleContainer {
    display: flex;
  }
  &__buttonContainer {
    display: flex;
    align-items: right;
  }
  &__button1 {
    font-weight: 600;
  }
}
.line1,
.line2,
.line3 {
  width: 2.188rem;
  height: 5px;
  background-color: $special;
  margin: 6px 0;
  transition: 0.4s;
  cursor: pointer;
}
.change .line1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .line2 {
  opacity: 0;
}
.change .line3 {
  transform: translate(0, -11px) rotate(45deg);
}
.testContainer {
  height: 2rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
}
.menuContainer {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  background-color: $primary-color;
  padding-bottom: 1rem;
}
.menu {
  display: flex;
  flex-direction: row;
}
.menu3,
.menu4 {
  border: 1px solid $secondary-color;
  box-shadow: 0.3rem 0.3rem $primary-color-blk, 0.3rem 0.3rem;
  padding: 1rem;
  border-radius: 3rem;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: $primary-color-wht;
  color: $primary-color-blk;
  &:hover {
    background-color: $secondary-color;
    border: 1px solid $primary-color-blk;
  }
}
