@use "../../styles/global" as *;
.headerWrapper {
  background-color: $primary-color;
  display: flex;
  // justify-content: space-around;
  justify-content: space-between;
}
.headerContainer {
  display: flex;
  // justify-content: space-between;
  // align-items: baseline;
  // font-family: "Avenir Next", sans-serif;
  // font-weight: 900;
  // font-size: 1.5rem;
  // text-transform: uppercase;
  // font-style: italic;
  // padding: 0.5rem 2rem;
  &__logoContainer {
    // height: 2rem;
    display: flex;
    // justify-content: space-around;
    align-items: center;
  }
  &__logoImage {
    height: 2rem;
    width: 4rem;
  }
  letter-spacing: 0.05em;
  &__logoTitleContainer {
    display: flex;

    // justify-content: space-between;
  }
  &__buttonContainer {
    display: flex;
    // justify-content: space-between;
    align-items: right;
  }
  // &__button1 {
  //   border: 1px white;
  // }
  // &__button2 {
  //   //  border
  // }
  // &__menu {
  // }
}
.test {
  width: 30px;
  height: 5px;
  background-color: orange;
  margin: 6px 0;
}
.testContainer {
  height: 2rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
}
