.headerWrapper {
  background-color: #588157;
}
.headerContainer {
  display: flex;
  // justify-content: space-between;
  // align-items: baseline;
  // font-family: "Avenir Next", sans-serif;
  // font-weight: 900;
  // font-size: 1.5rem;
  // text-transform: uppercase;
  // font-style: italic;
  // padding: 0.5rem 2rem;
  &__logoContainer {
    // height: 2rem;
    display: flex;
    // justify-content: space-around;
    align-items: center;
  }
  &__logoImage {
    height: 2rem;
    width: 4rem;
  }
  letter-spacing: 0.05em;
  &__logoTitleContainer {
    display: flex;

    // justify-content: space-between;
  }
  &__buttonContainer {
    display: flex;
    // justify-content: space-between;
    align-items: right;
  }
  &__button1 {
    border: 1px white;
  }
  &__button2 {
    //  border
  }
  &__menu {
  }
}
